.App {
  text-align: center;

  .ErrorSection > pre {
    background: white;
    padding: 1rem;
    border: solid 2px black;
    border-radius: 1rem;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: auto;
  }
}
